{% load staticfiles %}
<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop();
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });

		});
		</script>
		<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">

</div>
<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
	 <p>© 2016 Pooled . All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
</div>
<!--COPY rights end here-->
</div>
</div>
  <!--//content-inner-->
		<!--/sidebar-menu-->
				<div class="sidebar-menu">
					<header class="logo1">
						<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
					</header>
						<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
                           <div class="menu">
									<ul id="menu" >
										<li><a href="#"><i class="fa fa-tachometer"></i>
											<span>Dashboard</span><div class="clearfix"></div></a></li>

										 <li id="menu-academico" ><a href="#"><i class="fa fa-envelope nav_icon"></i>
											 <span>Inbox</span><div class="clearfix"></div></a></li>

									  <li id="menu-academico" ><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>
                                          <span>Boold</span> <span class="fa fa-angle-right" style="float: right"></span>
                                          <div class="clearfix"></div></a>
										   <ul id="menu-academico-sub" >
										   <li id="menu-academico-avaliacoes" ><a href="{% url 'addBlood' %}">Add</a></li>
											<li id="menu-academico-avaliacoes" ><a href="{% url 'viewBlood' %}">View</a></li>
										  </ul>
										</li>

										 <li id="menu-academico" ><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>
                                          <span>Doner</span> <span class="fa fa-angle-right" style="float: right"></span>
                                          <div class="clearfix"></div></a>
										   <ul id="menu-academico-sub" >
										   <li id="menu-academico-avaliacoes" ><a href="{% url 'viewDonersPending' %}">Pending</a></li>
											<li id="menu-academico-avaliacoes" ><a href="{% url 'confirmedDoners' %}">Confirmed</a></li>
										  </ul>
										</li>

											 <li id="menu-academico" ><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>
                                          <span>Accepter</span> <span class="fa fa-angle-right" style="float: right"></span>
                                          <div class="clearfix"></div></a>
										   <ul id="menu-academico-sub" >
										   <li id="menu-academico-avaliacoes" ><a href="{% url 'viewAccepterPending' %}">Pending</a></li>
											<li id="menu-academico-avaliacoes" ><a href="{% url 'confirmedAccepters' %}">Confirmed</a></li>
										  </ul>
										</li>
								  </ul>
								</div>
							  </div>
							  <div class="clearfix"></div>
							</div>
							<script>
							var toggle = true;

							$(".sidebar-icon").click(function() {
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }

											toggle = !toggle;
										});
							</script>
<!--js -->
<script src="{% static "administrator/js/jquery.nicescroll.js"%}"></script>
<script src="{% static "administrator/js/scripts.js"%}"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="{% static 'administrator/js/bootstrap.min.js'%}"></script>
   <!-- /Bootstrap Core JavaScript -->

</body>
</html>
