{% include "user/header.html" %} 

<div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8 mb-5">
              <h5>Welcome to Blood Buddies </h5>
            <div  class="p-5 bg-white" >



              <div class="row form-group">
                <div class="col-md-12">
                    <li><a href="{% url 'loginView' %}"><span class="bg-primary text-white py-3 px-4 rounded">Login</span></a>
                </div>
              </div>
              <br>
              <div class="row form-group">
                <div class="col-md-12">
                    <li><a href="{% url 'donerReg' %}"><span class="bg-success text-white py-3 px-4 rounded">Register as Doner</span></a>
                </div>
              </div>

              <br>
              <div class="row form-group">
                <div class="col-md-12">
                    <li><a href="{% url 'accepterReg' %}"><span class="bg-success text-white py-3 px-4 rounded">Register as Accepter</span></a>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-4">
            <div class="p-4 mb-3 bg-white"  style="background-image: url('/static/user/images/k1 (11).jpg'); height:300px;">
            </div>
            <!--<div class="p-4 mb-3 bg-white" style="background-image: url('/static/user/images/k1 (11).jpg'); height:300px;" >-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>

{% include "user/footer.html" %}